<div class="flex items-center justify-center min-h-screen bg-cyan-50">
  <!-- start: card-container -->
  <div class="bg-white p-6 m-3 space-y-10 shadow-2xl rounded-3xl md:p-40">
    <!-- start: menu -->
    <div
      class="flex flex-col items-center justify-center space-y-3 md:flex-row md:space-y-0 md:space-x-8 md:mb-24 md:justify-end"
    >
      <!-- start: menu-items -->
      <div class="group">
        <a href="">Vector</a>
        <div
          class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"
        ></div>
      </div>
      <div class="group">
        <a href="">Illustrations</a>
        <div
          class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"
        ></div>
      </div>
      <div class="group">
        <a href="">Images</a>
        <div
          class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"
        ></div>
      </div>
      <div class="group">
        <a href="">Icons</a>
        <div
          class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100"
        ></div>
      </div>
      <!-- end: menu-items -->
    </div>
    <!-- end: menu -->

    <!-- start: search -->
    <div
      class="flex flex-col justify-between space-y-5 md:flex-row md:space-y-0"
    >
      <!-- start: search -->
      <div class="flex justify-between border-b">
        <input
          type="text"
          placeholder="Search"
          class="ml-6 border-none md:w-80 placeholder:font-thin focus:outline-none"
        />
      </div>
      <!-- end: search -->

      <!-- start: upload button -->
      <button
        class="py-3 px-14 text-lg font-normal text-white bg-black border-black rounded-md shadow-2xl duration-200 hover:bg-white hover:text-black"
      >
        Upload
      </button>
      <!-- end: upload button -->
    </div>
    <!-- end: search -->

    <!-- start: gallery -->
    <div class="grid gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      <!-- start: image-1 -->
      <div class="relative group">
        <img src="assets/images/image1.jpg" alt="image-1" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-1 -->

      <!-- start: image-2 -->
      <div class="relative group">
        <img src="assets/images/image2.jpg" alt="image-2" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-2 -->

      <!-- start: image-3 -->
      <div class="relative group">
        <img src="assets/images/image3.jpg" alt="image-3" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-3 -->

      <!-- start: image-4 -->
      <div class="relative group">
        <img src="assets/images/image4.jpg" alt="image-4" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-4 -->

      <!-- start: image-5 -->
      <div class="relative group">
        <img src="assets/images/image5.jpg" alt="image-5" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-5 -->

      <!-- start: image-6 -->
      <div class="relative group">
        <img src="assets/images/image6.jpg" alt="image-6" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-6 -->

      <!-- start: image-7 -->
      <div class="relative group">
        <img src="assets/images/image1.jpg" alt="image-1" class="w-72" />
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40"
        >
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-xs">245 likes - 35 shares</p>
            </div>
            <div class="flex-items-center">
              <img src="assets/images/bookmark.svg" alt="bookmark" />
            </div>
          </div>
        </div>
      </div>
      <!-- end: image-7 -->
    </div>
    <!-- end: gallery -->
  </div>
  <!-- end: card-container -->
</div>
